@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /** Fonts */
  /* Fuente OpenSauceOne - Peso Negro */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso Negro Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
  }

  /* Fuente OpenSauceOne - Peso Bold */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso Bold Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
  }

  /* Fuente OpenSauceOne - Peso ExtraBold */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso ExtraBold Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-ExtraBoldItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }

  /* Fuente OpenSauceOne - Peso Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }

  /* Fuente OpenSauceOne - Peso Light */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso Light Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }

  /* Fuente OpenSauceOne - Peso Medium */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso Medium Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }

  /* Fuente OpenSauceOne - Peso Regular */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso SemiBold */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  /* Fuente OpenSauceOne - Peso SemiBold Itálico */
  @font-face {
    font-family: "OpenSauceOne";
    src: url("../assets/fonts/OpenSauceOne-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
  }

  /** Typography */
  h1 {
    @apply text-4xl lg:text-6xl;
    font-family: "OpenSauceOne";
    font-weight: 700;
    line-height: normal;
  }

  blockquote {
    @apply text-xl lg:text-3xl;
    font-family: "OpenSauceOne";
    font-weight: 700;
    line-height: normal;
  }

  h2 {
    @apply text-4xl lg:text-6xl;
    font-family: "OpenSauceOne";
    font-weight: 400;
    line-height: normal;
  }

  h3 {
    @apply text-4xl;
    font-family: "OpenSauceOne";
    font-weight: 700;
    line-height: normal;
  }

  h4 {
    @apply text-lg;
    font-family: "OpenSauceOne";
    font-weight: 400;
    line-height: normal;
  }

  p {
    @apply text-base;
    font-family: "OpenSauceOne";
    font-weight: 400;
    line-height: normal;
  }

  button {
    @apply text-xl;
    font-family: "OpenSauceOne";
    font-weight: 400;
    line-height: normal;
  }
}


 
@layer components {
  .btn-simple {
    @apply flex gap-2 justify-center items-center text-base font-medium py-[2px] px-3 w-fit h-fit bg-purple text-white rounded-full;
  }
}

.acor-modal:hover {
  cursor: pointer;
}

.expand-acordion {
  max-height: 1000px;
}

.hidden{
  display: none;
}

.bg-guias{
  background: #FFD2E9;
}


/* Para Chrome */
.carousel-container::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
.carousel-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.border-gray-300{
  border-color: #eee;
}

.border-purple{
   border-color: #EA3692;
}


/* Carousel Gallery */
.gallery {

}

.gallery-container {

}

.gallery-item {
  width: 18rem;
  height: 22rem;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1 {
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item-2 .gallery-item-4 {
  /* width: 380px; */
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  left: 50%;
  width: 24rem;
  height: 30rem;
  transform: translateX(-50%);
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  transform: translateX(-50%);
}




.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}

.gallery-controls button {
  background-color: red;
  width: 20px;
  height: 20px;
}




/* Slider */
#slider {
  position: relative;
  width: 380px;
  height: 469px;
  margin: 150px auto;
  perspective: 1200px;
  transform-style: preserve-3d;
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}

input[type=radio]::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 0 15px 0 0;
  opacity: 1;
  cursor: pointer;
  border: solid 1px #EA3692;
  border-radius: 100%;
}
input[type=radio]:checked::after {
 content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  margin: 0 15px 0 0;
  opacity: 1;
  cursor: pointer;
  background: #EA3692;
  border-radius: 100%;
} 



#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slider1:checked ~ #slide1,
#slider2:checked ~ #slide2,
#slider3:checked ~ #slide3,
#slider4:checked ~ #slide4,
#slider5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#slider1:checked ~ #slide2,
#slider2:checked ~ #slide3,
#slider3:checked ~ #slide4,
#slider4:checked ~ #slide5,
#slider5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(70%, 0, -100px);
}

#slider1:checked ~ #slide3,
#slider2:checked ~ #slide4,
#slider3:checked ~ #slide5,
#slider4:checked ~ #slide1,
#slider5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(140%, 0, -250px);
}

#slider1:checked ~ #slide4,
#slider2:checked ~ #slide5,
#slider3:checked ~ #slide1,
#slider4:checked ~ #slide2,
#slider5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-140%, 0, -250px);
}

#slider1:checked ~ #slide5,
#slider2:checked ~ #slide1,
#slider3:checked ~ #slide2,
#slider4:checked ~ #slide3,
#slider5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-70%, 0, -100px);
}


